* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px red solid; */
  /* border-radius: 3vh; */
}

body {
  max-width: 94vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  
  /* border: 3px purple solid; */
}

header {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 6vh auto 8vh;
    gap: 5vh;
    align-items: center;
    
    /* border: 1px blue solid; */
}

.nome, .mural {
  display: flex;
  flex-direction: row;
  font-size: 10vh;
  width: 90%;
  
  /* border: 1px yellow solid; */
}

.mural {
  font-size: 5vh;
}

#pepe, #murales {
  text-align: center;
  width: 90%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 15vh;
  width: 90%;
  gap: 8vh;
  
  /* border: 1px red solid; */
}

#obrad {
  /* border: 1px green solid;  */
  position: relative;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 8px;
}

#obrae {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  
  /* border: 1px green solid;  */
}

#txtdir {
  position: absolute;
  top: 0;
  right: 0vw;
  width: 15vw;

  /* border: 1px red solid; */
}

#txtesq {
  position: absolute;
  top: 0;
  left: 0;
} 

#art1 {
  position: absolute;
  bottom: -6vh;
  left: 10vw;
  height: 35vh;
}

#art2 {
  position: absolute;
  bottom: -6vh;
  right: 10vw;
  height: 35vh;
}

img {
  margin: auto;
}

#foto {
  border-radius: 6px;
  width: 60%;
  height: 60%;
}

#hdir {
  position: absolute;
    right: 0;
    top: 10vh;
    width: 15vw;
    text-align: justify;
}

#hesq {
  position: absolute;
    left: 0;
    top: 10vh;
    width: 15vw;
    text-align: justify;
}

footer {
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 6vh;
}

.horizontal-line {
  width: 0;
  height: 1px;
  background-color: black;
  animation: grow 2400ms forwards 3400ms;
  animation: name duration timing-function delay iteration-count direction fill-mode;
}

@keyframes grow {
  from {
      width: 0;
  }
  to {
      width: 80%;
  }
}


@media (max-width: 1330px) {
  
  #art1 {
  left: 10vw;
  height: 35vh;
}

#art2 {
  right: 10vw;
  height: 35vh;
}

#hdir {
    right: 0;
    top: 10vh;
    width: 15vw;
    text-align: justify;
}

#hesq {
    left: 0;
    top: 10vh;
    width: 15vw;
    text-align: justify;
}

}

@media (max-width: 1100px) {
  
  #art1 {
  position: absolute;
  bottom: -6vh;
  left: 10vw;
  height: 25vh;
}

#art2 {
  position: absolute;
  bottom: -6vh;
  right: 10vw;
  height: 25vh;
}


}


@media (max-width: 900px) {
  
  #art1 {
  position: absolute;
  bottom: -6vh;
  left: 10vw;
  height: 25vh;
}

#art2 {
  position: absolute;
  bottom: -6vh;
  right: 10vw;
  height: 25vh;
}


}

@media (max-width: 700px) {
  
  #foto {
    min-width: 80%;
    min-height: 80%;
}

#art1 {
  left: 0;
  height: 23vh;
}

#art2 {
  right: 0;
  height: 23vh;
}

}

@media (max-width: 500px) {
  
  #art1 {
    height: 20vh;
}

#art2 {
  height: 20vh;
}
}
